body {
	padding: 0px;
	margin: 0px;
}
.boardContainer {
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 20px 14%;
	background: rgba(255,255,255,0.7);
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-left: auto;
	margin-right: auto;
}
.detailView {
	padding: 3% 10%;
	box-sizing:	
}
.articleHeader {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 1% 0px;
	padding-right: 0px;
	padding-left: 0px;
}
.contentTitle {
	font-size: 30px;
	font-weight: bold;
	width:65%;
	border-right: 1px solid black;
	padding-left: 3%;
}
.articleImform {
}
.contentWriter {
	font-size: 20px;
}
.contentDate {
	font-size: 20px;
}
.contentHit {
	font-size: 20px;
}
.contentDetail {
	font-size: 25px;
	padding: 2% 3%;
	background: rgba(255,255,255,0.5);
	border-bottom: 2px solid black;
	margin-bottom: 2%;
}
.option {
	font-size: 20px;
	font-weight: bold;
}
.titleTextBox {
	font-size: 30px;
	font-weight: bold;
	outline: none;
	border: 1px solid black;
	border-radius: 20px;
	padding: 3px 13px;
}
.contentTextBox {
	font-size: 25px;
	outline: none;
	border: 1px solid black;
	width: 95%;
	border-radius: 20px;
	padding: 3px 13px;
}
.btn {
	margin-right: auto;
	margin-left: auto;
	font-size: 18px;
	border-radius: 20px;
	border: 2px solid black;
	background: rgba(255,255,255,0.8);
}
.abtn {
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	font-weight: lighter;
	border-radius: 20px;
	border: 2px solid black;
	padding: 0px 3px;
	background: rgba(255,255,255,0.8);
	
}