body {
	margin: 0px;
	padding: 0px;
}
.festivalContainer {
	margin-left: auto;
	margin-right: auto;
	background: rgba(255, 255, 255, 0.7);
	box-sizing: border-box;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 4% 20%;
}
.mainTable {
	border-collapse: collapse;
	/* border-spacing: 0px; */
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.mainTable tr {
}
.mainTable td {
	padding: 0px;
	margin: 0px;
	padding: 2% 0px;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	background: rgba(255, 255, 255, 0.6);
}
.mainTable td:nth-of-type(1) {
	text-align: right;
	padding-right: 2%;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}
.mainTable td:nth-of-type(2) {
	text-align: left;
	padding-left: 2%;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}
.title {
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid black;
}
.festaName {
	font-size:33px;
	font-weight: bold;
}
.basicInform {
	font-size: 20px;
	font-weight: bold;
	padding: 0px 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	background: rgba(255, 255, 255, 0.6);
}
.basicContent {
	padding: 0px 10px;
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid black;
	background: rgba(255, 255, 255, 0.6);
}
.festaContent {
	padding: 0px 10px;
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	background: rgba(255, 255, 255, 0.6);
}
.festaDetail {
	padding: 0px 10px;
	display: flex;
	font-weight: bold;
	padding-top: 10px;
	border-bottom: 1px solid black;
	background: rgba(255, 255, 255, 0.6);
}
.detail-1 {
	width: 50%;
	
}
.detail-2 {
	width: 50%;
}
.map {
	display: block;
	padding: 3% 10px;;
	box-sizing: border-box;
	border-bottom: 2px solid black;
	background: rgba(255, 255, 255, 0.6);
}
.backSpace {
	font-size: 20px;
	font-weight: bold;
}